USE [master]
GO
/****** Object:  Database [RetailManager]    Script Date: 9/26/2025 1:11:19 PM ******/
CREATE DATABASE [RetailManager]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RetailManager', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\RetailManager.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RetailManager_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\RetailManager_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RetailManager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RetailManager]
GO
/****** Object:  User [son]    Script Date: 9/26/2025 1:11:20 PM ******/
CREATE USER [son] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[account]    Script Date: 9/26/2025 1:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[is_active] [bit] NULL,
	[latitude] [float] NULL,
	[longgitude] [float] NULL,
	[created_at] [datetime2](6) NULL,
	[loyalty_point] [bigint] NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[customer_rank_id] [uniqueidentifier] NULL,
	[id] [uniqueidentifier] NOT NULL,
	[role_id] [uniqueidentifier] NULL,
	[address] [varchar](255) NULL,
	[created_by] [varchar](255) NULL,
	[mail] [varchar](255) NULL,
	[name] [varchar](255) NULL,
	[note] [varchar](255) NULL,
	[password] [varchar](255) NULL,
	[phone] [varchar](255) NULL,
	[rank_status] [varchar](255) NULL,
	[updated_by] [varchar](255) NULL,
	[username] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 9/26/2025 1:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[is_active] [bit] NULL,
	[created_at] [datetime2](6) NULL,
	[updated_at] [datetime2](6) NULL,
	[id] [uniqueidentifier] NOT NULL,
	[created_by] [varchar](255) NULL,
	[name] [varchar](255) NULL,
	[updated_by] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[config]    Script Date: 9/26/2025 1:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[config](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code_num] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer_rank]    Script Date: 9/26/2025 1:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer_rank](
	[discount_percent] [float] NOT NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime2](6) NULL,
	[point] [bigint] NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[id] [uniqueidentifier] NOT NULL,
	[created_by] [varchar](255) NULL,
	[name] [varchar](255) NULL,
	[updated_by] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[guaranted]    Script Date: 9/26/2025 1:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[guaranted](
	[duration_time] [int] NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime2](6) NULL,
	[expired_date] [datetime2](6) NULL,
	[start_date] [datetime2](6) NULL,
	[updated_at] [datetime2](6) NULL,
	[account_id] [uniqueidentifier] NULL,
	[id] [uniqueidentifier] NOT NULL,
	[order_detail_id] [uniqueidentifier] NULL,
	[storeinventory_id] [uniqueidentifier] NULL,
	[created_by] [varchar](255) NULL,
	[guaranted_status] [varchar](255) NULL,
	[updated_by] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[importstoresummary]    Script Date: 9/26/2025 1:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[importstoresummary](
	[id] [uniqueidentifier] NOT NULL,
	[product_code] [varchar](255) NULL,
	[product_id] [uniqueidentifier] NULL,
	[store_import_id] [uniqueidentifier] NULL,
	[quantity_store_after] [bigint] NULL,
	[quantity_store_before] [bigint] NULL,
	[product_name] [varchar](255) NULL,
	[store_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_detail]    Script Date: 9/26/2025 1:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_detail](
	[discount_percent] [float] NULL,
	[original_price] [float] NULL,
	[quantity] [int] NULL,
	[total_price] [float] NULL,
	[unit_price] [float] NULL,
	[id] [uniqueidentifier] NOT NULL,
	[order_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 9/26/2025 1:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[final_price] [float] NULL,
	[is_active] [bit] NULL,
	[point_earned] [int] NULL,
	[status] [smallint] NULL,
	[total_price_after_discount] [float] NULL,
	[total_price_before_discount] [float] NULL,
	[created_at] [datetime2](6) NULL,
	[updated_at] [datetime2](6) NULL,
	[customer_id] [uniqueidentifier] NULL,
	[id] [uniqueidentifier] NOT NULL,
	[created_by] [varchar](255) NULL,
	[description] [varchar](255) NULL,
	[order_type] [varchar](255) NULL,
	[payment_method] [varchar](255) NULL,
	[rank_applied] [varchar](255) NULL,
	[ship_address] [varchar](255) NULL,
	[ship_phone] [varchar](255) NULL,
	[updated_by] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[promotion]    Script Date: 9/26/2025 1:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promotion](
	[discount_percent] [float] NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime2](6) NULL,
	[end_date] [datetime2](6) NULL,
	[start_date] [datetime2](6) NULL,
	[updated_at] [datetime2](6) NULL,
	[id] [uniqueidentifier] NOT NULL,
	[created_by] [varchar](255) NULL,
	[status] [varchar](255) NULL,
	[updated_by] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 9/26/2025 1:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[id] [uniqueidentifier] NOT NULL,
	[name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[store]    Script Date: 9/26/2025 1:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[store](
	[is_active] [bit] NULL,
	[latitude] [float] NULL,
	[longitude] [float] NULL,
	[created_at] [datetime2](6) NULL,
	[updated_at] [datetime2](6) NULL,
	[id] [uniqueidentifier] NOT NULL,
	[address] [varchar](255) NULL,
	[created_by] [varchar](255) NULL,
	[description] [varchar](255) NULL,
	[district] [varchar](255) NULL,
	[mail] [varchar](255) NULL,
	[name] [varchar](255) NULL,
	[phone] [varchar](255) NULL,
	[province] [varchar](255) NULL,
	[updated_by] [varchar](255) NULL,
	[ward] [varchar](255) NULL,
	[longgitude] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[store_import_store_summary_list]    Script Date: 9/26/2025 1:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[store_import_store_summary_list](
	[store_id] [uniqueidentifier] NOT NULL,
	[import_store_summary_list_id] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[store_storeinventory]    Script Date: 9/26/2025 1:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[store_storeinventory](
	[quantity] [bigint] NULL,
	[id] [uniqueidentifier] NOT NULL,
	[store_id] [uniqueidentifier] NULL,
	[storeinventory_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[storeimport]    Script Date: 9/26/2025 1:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[storeimport](
	[id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](6) NULL,
	[created_by] [varchar](255) NULL,
	[is_active] [bit] NULL,
	[updated_at] [datetime2](6) NULL,
	[updated_by] [varchar](255) NULL,
	[description] [varchar](255) NULL,
	[storeid] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[storeimportdetail]    Script Date: 9/26/2025 1:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[storeimportdetail](
	[id] [uniqueidentifier] NOT NULL,
	[quantity_import] [bigint] NULL,
	[quantity_warehouse_after] [bigint] NULL,
	[quantity_warehouse_before] [bigint] NULL,
	[storeimport_id] [uniqueidentifier] NULL,
	[store_storeinventory_id] [uniqueidentifier] NULL,
	[warehouse_warehouseinventory_id] [uniqueidentifier] NULL,
	[importstoresummaryid] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[storeinventory]    Script Date: 9/26/2025 1:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[storeinventory](
	[is_active] [bit] NULL,
	[created_at] [datetime2](6) NULL,
	[updated_at] [datetime2](6) NULL,
	[category_id] [uniqueidentifier] NULL,
	[id] [uniqueidentifier] NOT NULL,
	[brand] [varchar](255) NULL,
	[created_by] [varchar](255) NULL,
	[description] [varchar](255) NULL,
	[name] [varchar](255) NULL,
	[updated_by] [varchar](255) NULL,
	[product_code] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[storeinventory_promotion]    Script Date: 9/26/2025 1:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[storeinventory_promotion](
	[promotion_id] [uniqueidentifier] NOT NULL,
	[storeinventory_id] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[warehouse]    Script Date: 9/26/2025 1:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[warehouse](
	[is_active] [bit] NULL,
	[latitude] [float] NULL,
	[longitude] [float] NULL,
	[created_at] [datetime2](6) NULL,
	[updated_at] [datetime2](6) NULL,
	[id] [uniqueidentifier] NOT NULL,
	[address] [varchar](255) NULL,
	[created_by] [varchar](255) NULL,
	[description] [varchar](255) NULL,
	[email] [varchar](255) NULL,
	[name] [varchar](255) NULL,
	[phone] [varchar](255) NULL,
	[updated_by] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[warehouse_storeimport]    Script Date: 9/26/2025 1:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[warehouse_storeimport](
	[warehouseid] [uniqueidentifier] NOT NULL,
	[storeimportid] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[warehouse_warehouseinventory]    Script Date: 9/26/2025 1:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[warehouse_warehouseinventory](
	[quantity] [bigint] NOT NULL,
	[id] [uniqueidentifier] NOT NULL,
	[warehouse_id] [uniqueidentifier] NULL,
	[warehouseinventory_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[warehouseimport]    Script Date: 9/26/2025 1:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[warehouseimport](
	[id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](6) NULL,
	[created_by] [varchar](255) NULL,
	[is_active] [bit] NULL,
	[updated_at] [datetime2](6) NULL,
	[updated_by] [varchar](255) NULL,
	[warehouse_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[warehouseimportdetail]    Script Date: 9/26/2025 1:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[warehouseimportdetail](
	[id] [uniqueidentifier] NOT NULL,
	[quantity_after] [bigint] NOT NULL,
	[quantity_before] [bigint] NOT NULL,
	[quantity_import] [bigint] NOT NULL,
	[warehouseimport_id] [uniqueidentifier] NULL,
	[warehouse_warehouseinventory_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[warehouseinventory]    Script Date: 9/26/2025 1:11:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[warehouseinventory](
	[purchase_price] [float] NULL,
	[warranty_period] [int] NULL,
	[id] [uniqueidentifier] NOT NULL,
	[name] [varchar](255) NULL,
	[suplier] [varchar](255) NULL,
	[product_code] [varchar](255) NULL,
	[sale_price] [float] NULL,
	[created_at] [datetime2](6) NULL,
	[created_by] [varchar](255) NULL,
	[is_active] [bit] NULL,
	[updated_at] [datetime2](6) NULL,
	[updated_by] [varchar](255) NULL,
	[unit_of_measure] [varchar](255) NULL,
	[description] [varchar](255) NULL,
	[category_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[category] ([is_active], [created_at], [updated_at], [id], [created_by], [name], [updated_by]) VALUES (1, NULL, NULL, N'54c6f922-b92a-4828-8fa4-03e1bf625677', NULL, N'Phone', NULL)
INSERT [dbo].[category] ([is_active], [created_at], [updated_at], [id], [created_by], [name], [updated_by]) VALUES (1, NULL, NULL, N'a7348903-17c4-4a43-af9c-e9216f37ca43', NULL, N'Laptop', NULL)
GO
SET IDENTITY_INSERT [dbo].[config] ON 

INSERT [dbo].[config] ([id], [code_num]) VALUES (1, 23)
SET IDENTITY_INSERT [dbo].[config] OFF
GO
INSERT [dbo].[importstoresummary] ([id], [product_code], [product_id], [store_import_id], [quantity_store_after], [quantity_store_before], [product_name], [store_id]) VALUES (N'3f63b133-6952-4ecd-abc0-d37548e9c4bd', NULL, N'3b901cbb-3eab-4b7f-ba2b-28faaf055a25', N'f0384c85-3ff3-4987-9255-27c50229a5c3', 100, 0, NULL, NULL)
GO
INSERT [dbo].[store] ([is_active], [latitude], [longitude], [created_at], [updated_at], [id], [address], [created_by], [description], [district], [mail], [name], [phone], [province], [updated_by], [ward], [longgitude]) VALUES (1, 10.794, 106.7218, CAST(N'2025-07-25T14:55:02.5900000' AS DateTime2), CAST(N'2025-07-25T14:55:02.5900000' AS DateTime2), N'652176c9-58e6-48a3-a0ac-0144dc3cb356', N'180 Dien Bien Phu Street', N'admin', N'Near Landmark 81', N'Binh Thanh District', N'binhthanh@example.com', N'Store Binh Thanh', N'0906123456', N'Ho Chi Minh City', N'admin', N'Ward 15', NULL)
INSERT [dbo].[store] ([is_active], [latitude], [longitude], [created_at], [updated_at], [id], [address], [created_by], [description], [district], [mail], [name], [phone], [province], [updated_by], [ward], [longgitude]) VALUES (1, 10.851, 106.7589, CAST(N'2025-07-25T14:55:02.5900000' AS DateTime2), CAST(N'2025-07-25T14:55:02.5900000' AS DateTime2), N'fb75a663-fade-4a2e-a1ca-0aeebed01986', N'78 Vo Van Ngan Street', N'admin', N'Next to Thu Duc market', N'Thu Duc City', N'thuduc@example.com', N'Store Thu Duc', N'0905123456', N'Ho Chi Minh City', N'admin', N'Linh Chieu Ward', NULL)
INSERT [dbo].[store] ([is_active], [latitude], [longitude], [created_at], [updated_at], [id], [address], [created_by], [description], [district], [mail], [name], [phone], [province], [updated_by], [ward], [longgitude]) VALUES (1, 123.123, 24.24, CAST(N'2025-07-26T23:31:48.1697410' AS DateTime2), CAST(N'2025-07-26T23:31:48.1697410' AS DateTime2), N'63726ba1-bead-412f-9725-0c1ca3112b78', N'test', NULL, N'test', N'test', N'test@gmail.com', N'test', N'test', N'test', NULL, N'test', NULL)
GO
INSERT [dbo].[store_storeinventory] ([quantity], [id], [store_id], [storeinventory_id]) VALUES (40, N'96dd6e83-5d89-43fb-a7d7-4e3fccb52f40', N'af516852-1914-4d69-8729-189ef6e80238', N'fa143d4a-ccfd-4360-809f-42a600461177')
INSERT [dbo].[store_storeinventory] ([quantity], [id], [store_id], [storeinventory_id]) VALUES (60, N'71d76229-be5f-427c-89d2-df61690c79d6', N'af516852-1914-4d69-8729-189ef6e80238', N'a6edae92-aadf-419a-8630-3e11ec0110c0')
GO
INSERT [dbo].[storeimport] ([id], [created_at], [created_by], [is_active], [updated_at], [updated_by], [description], [storeid]) VALUES (N'f0384c85-3ff3-4987-9255-27c50229a5c3', CAST(N'2025-09-11T17:09:27.2454600' AS DateTime2), NULL, 1, CAST(N'2025-09-11T17:09:27.2454600' AS DateTime2), NULL, NULL, N'af516852-1914-4d69-8729-189ef6e80238')
GO
INSERT [dbo].[storeimportdetail] ([id], [quantity_import], [quantity_warehouse_after], [quantity_warehouse_before], [storeimport_id], [store_storeinventory_id], [warehouse_warehouseinventory_id], [importstoresummaryid]) VALUES (N'c538449a-d3df-47b0-9668-3cdb187c08f5', 30, 2170, 2200, N'f0384c85-3ff3-4987-9255-27c50229a5c3', N'71d76229-be5f-427c-89d2-df61690c79d6', N'af4b23e0-d103-4f99-9173-7d26545c8951', N'3f63b133-6952-4ecd-abc0-d37548e9c4bd')
INSERT [dbo].[storeimportdetail] ([id], [quantity_import], [quantity_warehouse_after], [quantity_warehouse_before], [storeimport_id], [store_storeinventory_id], [warehouse_warehouseinventory_id], [importstoresummaryid]) VALUES (N'804505c5-7bf6-49e9-b5e9-7234e470574b', 30, 3970, 4000, N'f0384c85-3ff3-4987-9255-27c50229a5c3', N'71d76229-be5f-427c-89d2-df61690c79d6', N'80f62f35-30cc-4331-b9a7-a2a96c30f248', N'3f63b133-6952-4ecd-abc0-d37548e9c4bd')
INSERT [dbo].[storeimportdetail] ([id], [quantity_import], [quantity_warehouse_after], [quantity_warehouse_before], [storeimport_id], [store_storeinventory_id], [warehouse_warehouseinventory_id], [importstoresummaryid]) VALUES (N'a912160c-c78f-4ad1-90c3-8619d5a4e18d', 20, 4100, 4120, N'f0384c85-3ff3-4987-9255-27c50229a5c3', N'96dd6e83-5d89-43fb-a7d7-4e3fccb52f40', N'f1b5a744-3996-43dd-87c9-02012931ab42', NULL)
GO
INSERT [dbo].[storeinventory] ([is_active], [created_at], [updated_at], [category_id], [id], [brand], [created_by], [description], [name], [updated_by], [product_code]) VALUES (1, CAST(N'2025-09-11T17:09:27.3604760' AS DateTime2), CAST(N'2025-09-11T17:09:27.3604760' AS DateTime2), N'54c6f922-b92a-4828-8fa4-03e1bf625677', N'a6edae92-aadf-419a-8630-3e11ec0110c0', N'Supplier 1', NULL, NULL, N'Product 11', NULL, N'PRO2025_000011')
INSERT [dbo].[storeinventory] ([is_active], [created_at], [updated_at], [category_id], [id], [brand], [created_by], [description], [name], [updated_by], [product_code]) VALUES (1, CAST(N'2025-09-11T17:09:27.4284460' AS DateTime2), CAST(N'2025-09-11T17:09:27.4284460' AS DateTime2), N'a7348903-17c4-4a43-af9c-e9216f37ca43', N'fa143d4a-ccfd-4360-809f-42a600461177', N'Supplier 3', NULL, NULL, N'Product 13', NULL, N'PRO2025_000013')
GO
INSERT [dbo].[warehouse] ([is_active], [latitude], [longitude], [created_at], [updated_at], [id], [address], [created_by], [description], [email], [name], [phone], [updated_by]) VALUES (1, 11.11, -87.6298, CAST(N'2025-07-28T00:54:25.0101400' AS DateTime2), CAST(N'2025-07-28T01:07:16.8776070' AS DateTime2), N'6bf60405-58f6-45fb-be64-18d18be0d0e9', N'haison', NULL, N'haison', N'haison', N'haison', N'haison', NULL)
INSERT [dbo].[warehouse] ([is_active], [latitude], [longitude], [created_at], [updated_at], [id], [address], [created_by], [description], [email], [name], [phone], [updated_by]) VALUES (1, 10.773129, 106.68998, CAST(N'2025-07-28T00:21:46.9600000' AS DateTime2), CAST(N'2025-07-28T00:21:46.9600000' AS DateTime2), N'c06337c2-899e-4aed-a6d8-3e0c94e8e3e0', N'101 Maple Ave, Chicago, IL', N'admin', N'Main distribution center in the North.', N'northhub@example.com', N'North Hub', N'312-555-0101', N'admin')
INSERT [dbo].[warehouse] ([is_active], [latitude], [longitude], [created_at], [updated_at], [id], [address], [created_by], [description], [email], [name], [phone], [updated_by]) VALUES (0, 33.749, -84.388, CAST(N'2025-07-28T00:21:46.9600000' AS DateTime2), CAST(N'2025-07-28T00:21:46.9600000' AS DateTime2), N'c6632968-7a97-4cd1-ab5d-470a2274ca2a', N'300 Oak Dr, Atlanta, GA', N'admin', N'Stores temperature-sensitive items.', N'southstorage@example.com', N'South Storage', N'404-555-0303', N'admin')
GO
INSERT [dbo].[warehouse_storeimport] ([warehouseid], [storeimportid]) VALUES (N'6bf60405-58f6-45fb-be64-18d18be0d0e9', N'f0384c85-3ff3-4987-9255-27c50229a5c3')
INSERT [dbo].[warehouse_storeimport] ([warehouseid], [storeimportid]) VALUES (N'c06337c2-899e-4aed-a6d8-3e0c94e8e3e0', N'f0384c85-3ff3-4987-9255-27c50229a5c3')
GO
INSERT [dbo].[warehouse_warehouseinventory] ([quantity], [id], [warehouse_id], [warehouseinventory_id]) VALUES (4120, N'f1b5a744-3996-43dd-87c9-02012931ab42', N'c06337c2-899e-4aed-a6d8-3e0c94e8e3e0', N'e0d776e0-6fee-42a8-bca1-ddf32e0ede17')
INSERT [dbo].[warehouse_warehouseinventory] ([quantity], [id], [warehouse_id], [warehouseinventory_id]) VALUES (4000, N'42e22f7c-bbdf-4c08-bd7c-03632f717ffd', N'c06337c2-899e-4aed-a6d8-3e0c94e8e3e0', N'39f810a0-e6a3-45b9-896d-4b7c65f8b89f')
INSERT [dbo].[warehouse_warehouseinventory] ([quantity], [id], [warehouse_id], [warehouseinventory_id]) VALUES (4000, N'4e548eb8-4eeb-453d-9f0c-052bf58779f4', N'c06337c2-899e-4aed-a6d8-3e0c94e8e3e0', N'83f7fbb7-942a-4a7f-858c-380e45e6ad52')
GO
INSERT [dbo].[warehouseimport] ([id], [created_at], [created_by], [is_active], [updated_at], [updated_by], [warehouse_id]) VALUES (N'89023d54-b29b-42c1-aa42-02e732b1ac06', NULL, NULL, 1, NULL, NULL, N'c06337c2-899e-4aed-a6d8-3e0c94e8e3e0')
INSERT [dbo].[warehouseimport] ([id], [created_at], [created_by], [is_active], [updated_at], [updated_by], [warehouse_id]) VALUES (N'6b16b6ca-9e3d-4f6a-988e-04366cfaf95a', NULL, NULL, 1, NULL, NULL, N'6bf60405-58f6-45fb-be64-18d18be0d0e9')
INSERT [dbo].[warehouseimport] ([id], [created_at], [created_by], [is_active], [updated_at], [updated_by], [warehouse_id]) VALUES (N'989ca27e-5887-440c-9324-5292626f8838', NULL, NULL, 1, NULL, NULL, N'8bddee8b-c49f-41a9-8016-d282e40be5e2')
GO
INSERT [dbo].[warehouseimportdetail] ([id], [quantity_after], [quantity_before], [quantity_import], [warehouseimport_id], [warehouse_warehouseinventory_id]) VALUES (N'337d035b-8969-4dd9-a8b8-0589db11a5b1', 4000, 0, 4000, N'89023d54-b29b-42c1-aa42-02e732b1ac06', N'809db93c-111b-474b-8846-d0cb1400bac0')
INSERT [dbo].[warehouseimportdetail] ([id], [quantity_after], [quantity_before], [quantity_import], [warehouseimport_id], [warehouse_warehouseinventory_id]) VALUES (N'c978f732-3e2b-4103-a9c8-05a084232a2f', 2000, 0, 2000, N'989ca27e-5887-440c-9324-5292626f8838', N'7026994b-fdde-4360-82cb-7cfdfe940083')
INSERT [dbo].[warehouseimportdetail] ([id], [quantity_after], [quantity_before], [quantity_import], [warehouseimport_id], [warehouse_warehouseinventory_id]) VALUES (N'40a38936-1418-4efa-ad26-069fa0b96e0e', 2000, 0, 2000, N'989ca27e-5887-440c-9324-5292626f8838', N'9cd8dbc6-2ef2-47b7-9630-add2d621013b')
GO
INSERT [dbo].[warehouseinventory] ([purchase_price], [warranty_period], [id], [name], [suplier], [product_code], [sale_price], [created_at], [created_by], [is_active], [updated_at], [updated_by], [unit_of_measure], [description], [category_id]) VALUES (78.89, 2, N'f000c79d-ba41-48ab-83d8-00ec2ff27131', N'Product 9', N'Supplier 4', N'PRO2025_000009', 156.22, NULL, NULL, 1, NULL, NULL, N'Piece', NULL, N'54c6f922-b92a-4828-8fa4-03e1bf625677')
INSERT [dbo].[warehouseinventory] ([purchase_price], [warranty_period], [id], [name], [suplier], [product_code], [sale_price], [created_at], [created_by], [is_active], [updated_at], [updated_by], [unit_of_measure], [description], [category_id]) VALUES (97.71, 4, N'0626b644-a110-4b6d-8f13-08d0070b9e8e', N'Product 4', N'Supplier 4', N'PRO2025_000004', 194.07, NULL, NULL, 1, NULL, NULL, N'Piece', NULL, N'54c6f922-b92a-4828-8fa4-03e1bf625677')
INSERT [dbo].[warehouseinventory] ([purchase_price], [warranty_period], [id], [name], [suplier], [product_code], [sale_price], [created_at], [created_by], [is_active], [updated_at], [updated_by], [unit_of_measure], [description], [category_id]) VALUES (122.94, 4, N'ff77a866-584e-40f6-a24d-09e9e5628b59', N'Product 3', N'Supplier 3', N'PRO2025_000003', 157.51, NULL, NULL, 1, NULL, NULL, N'Piece', NULL, N'54c6f922-b92a-4828-8fa4-03e1bf625677')
GO
/****** Object:  Index [UK_rkgssqsndlnbuvjpgy3xtxec7]    Script Date: 9/26/2025 1:11:20 PM ******/
ALTER TABLE [dbo].[store_import_store_summary_list] ADD  CONSTRAINT [UK_rkgssqsndlnbuvjpgy3xtxec7] UNIQUE NONCLUSTERED 
(
	[import_store_summary_list_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[account]  WITH CHECK ADD  CONSTRAINT [FKd4vb66o896tay3yy52oqxr9w0] FOREIGN KEY([role_id])
REFERENCES [dbo].[role] ([id])
GO
ALTER TABLE [dbo].[account] CHECK CONSTRAINT [FKd4vb66o896tay3yy52oqxr9w0]
GO
ALTER TABLE [dbo].[account]  WITH CHECK ADD  CONSTRAINT [FKdej6i6vlm9rhvuydisoni50js] FOREIGN KEY([customer_rank_id])
REFERENCES [dbo].[customer_rank] ([id])
GO
ALTER TABLE [dbo].[account] CHECK CONSTRAINT [FKdej6i6vlm9rhvuydisoni50js]
GO
ALTER TABLE [dbo].[guaranted]  WITH CHECK ADD  CONSTRAINT [FKdh6ot8k18qmcoalam0rjge0j0] FOREIGN KEY([order_detail_id])
REFERENCES [dbo].[order_detail] ([id])
GO
ALTER TABLE [dbo].[guaranted] CHECK CONSTRAINT [FKdh6ot8k18qmcoalam0rjge0j0]
GO
ALTER TABLE [dbo].[guaranted]  WITH CHECK ADD  CONSTRAINT [FKj52pkgt59k2v2bbefs90jw2la] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[guaranted] CHECK CONSTRAINT [FKj52pkgt59k2v2bbefs90jw2la]
GO
ALTER TABLE [dbo].[guaranted]  WITH CHECK ADD  CONSTRAINT [FKl6uj2qnijqracdapuf3mr0vhl] FOREIGN KEY([storeinventory_id])
REFERENCES [dbo].[storeinventory] ([id])
GO
ALTER TABLE [dbo].[guaranted] CHECK CONSTRAINT [FKl6uj2qnijqracdapuf3mr0vhl]
GO
ALTER TABLE [dbo].[importstoresummary]  WITH CHECK ADD  CONSTRAINT [FKqjavaqq58td678qkr4s4ocj0d] FOREIGN KEY([store_id])
REFERENCES [dbo].[store] ([id])
GO
ALTER TABLE [dbo].[importstoresummary] CHECK CONSTRAINT [FKqjavaqq58td678qkr4s4ocj0d]
GO
ALTER TABLE [dbo].[order_detail]  WITH CHECK ADD  CONSTRAINT [FKrws2q0si6oyd6il8gqe2aennc] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[order_detail] CHECK CONSTRAINT [FKrws2q0si6oyd6il8gqe2aennc]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FKll9qbvk2w486ag2h01rraqj7b] FOREIGN KEY([customer_id])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FKll9qbvk2w486ag2h01rraqj7b]
GO
ALTER TABLE [dbo].[store_import_store_summary_list]  WITH CHECK ADD  CONSTRAINT [FK6vw3l7q34bnv3pbem78ukkl9u] FOREIGN KEY([store_id])
REFERENCES [dbo].[store] ([id])
GO
ALTER TABLE [dbo].[store_import_store_summary_list] CHECK CONSTRAINT [FK6vw3l7q34bnv3pbem78ukkl9u]
GO
ALTER TABLE [dbo].[store_import_store_summary_list]  WITH CHECK ADD  CONSTRAINT [FKl81r8cuq7pno0uoeogiufqhrc] FOREIGN KEY([import_store_summary_list_id])
REFERENCES [dbo].[importstoresummary] ([id])
GO
ALTER TABLE [dbo].[store_import_store_summary_list] CHECK CONSTRAINT [FKl81r8cuq7pno0uoeogiufqhrc]
GO
ALTER TABLE [dbo].[store_storeinventory]  WITH CHECK ADD  CONSTRAINT [FKe3m9ybnu1yg90tgiv5bi1ul9t] FOREIGN KEY([storeinventory_id])
REFERENCES [dbo].[storeinventory] ([id])
GO
ALTER TABLE [dbo].[store_storeinventory] CHECK CONSTRAINT [FKe3m9ybnu1yg90tgiv5bi1ul9t]
GO
ALTER TABLE [dbo].[store_storeinventory]  WITH CHECK ADD  CONSTRAINT [FKsjra7cu6hgmd1wv4uynvbq4x7] FOREIGN KEY([store_id])
REFERENCES [dbo].[store] ([id])
GO
ALTER TABLE [dbo].[store_storeinventory] CHECK CONSTRAINT [FKsjra7cu6hgmd1wv4uynvbq4x7]
GO
ALTER TABLE [dbo].[storeimport]  WITH CHECK ADD  CONSTRAINT [FK527cr6974a1ebq0jxckheg5r3] FOREIGN KEY([storeid])
REFERENCES [dbo].[store] ([id])
GO
ALTER TABLE [dbo].[storeimport] CHECK CONSTRAINT [FK527cr6974a1ebq0jxckheg5r3]
GO
ALTER TABLE [dbo].[storeimportdetail]  WITH CHECK ADD  CONSTRAINT [FK4ak56cuyygmqg3w208eu736ok] FOREIGN KEY([store_storeinventory_id])
REFERENCES [dbo].[store_storeinventory] ([id])
GO
ALTER TABLE [dbo].[storeimportdetail] CHECK CONSTRAINT [FK4ak56cuyygmqg3w208eu736ok]
GO
ALTER TABLE [dbo].[storeimportdetail]  WITH CHECK ADD  CONSTRAINT [FK8lmd4ateipafirccyfjwdbme6] FOREIGN KEY([storeimport_id])
REFERENCES [dbo].[storeimport] ([id])
GO
ALTER TABLE [dbo].[storeimportdetail] CHECK CONSTRAINT [FK8lmd4ateipafirccyfjwdbme6]
GO
ALTER TABLE [dbo].[storeimportdetail]  WITH CHECK ADD  CONSTRAINT [FKo5hu08y98bf8t372170pydcsx] FOREIGN KEY([warehouse_warehouseinventory_id])
REFERENCES [dbo].[warehouse_warehouseinventory] ([id])
GO
ALTER TABLE [dbo].[storeimportdetail] CHECK CONSTRAINT [FKo5hu08y98bf8t372170pydcsx]
GO
ALTER TABLE [dbo].[storeimportdetail]  WITH CHECK ADD  CONSTRAINT [FKq8sbgoqemyu831s1nkehjmjhe] FOREIGN KEY([importstoresummaryid])
REFERENCES [dbo].[importstoresummary] ([id])
GO
ALTER TABLE [dbo].[storeimportdetail] CHECK CONSTRAINT [FKq8sbgoqemyu831s1nkehjmjhe]
GO
ALTER TABLE [dbo].[storeinventory]  WITH CHECK ADD  CONSTRAINT [FKgu84eky4oksh6t7010nqbjda] FOREIGN KEY([category_id])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[storeinventory] CHECK CONSTRAINT [FKgu84eky4oksh6t7010nqbjda]
GO
ALTER TABLE [dbo].[storeinventory_promotion]  WITH CHECK ADD  CONSTRAINT [FKpb1n6pc13o6mywr29wofnan11] FOREIGN KEY([promotion_id])
REFERENCES [dbo].[promotion] ([id])
GO
ALTER TABLE [dbo].[storeinventory_promotion] CHECK CONSTRAINT [FKpb1n6pc13o6mywr29wofnan11]
GO
ALTER TABLE [dbo].[storeinventory_promotion]  WITH CHECK ADD  CONSTRAINT [FKqnmmxchr1f4kul3ixly5eyylh] FOREIGN KEY([storeinventory_id])
REFERENCES [dbo].[storeinventory] ([id])
GO
ALTER TABLE [dbo].[storeinventory_promotion] CHECK CONSTRAINT [FKqnmmxchr1f4kul3ixly5eyylh]
GO
ALTER TABLE [dbo].[warehouse_storeimport]  WITH CHECK ADD  CONSTRAINT [FK22o92ccqlsb6mu301d8aq3g5k] FOREIGN KEY([storeimportid])
REFERENCES [dbo].[storeimport] ([id])
GO
ALTER TABLE [dbo].[warehouse_storeimport] CHECK CONSTRAINT [FK22o92ccqlsb6mu301d8aq3g5k]
GO
ALTER TABLE [dbo].[warehouse_storeimport]  WITH CHECK ADD  CONSTRAINT [FKfteo407bkwsk0tsmsug662svp] FOREIGN KEY([warehouseid])
REFERENCES [dbo].[warehouse] ([id])
GO
ALTER TABLE [dbo].[warehouse_storeimport] CHECK CONSTRAINT [FKfteo407bkwsk0tsmsug662svp]
GO
ALTER TABLE [dbo].[warehouse_warehouseinventory]  WITH CHECK ADD  CONSTRAINT [FKj1u8axkff1ilubd6b3awid3rn] FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[warehouse] ([id])
GO
ALTER TABLE [dbo].[warehouse_warehouseinventory] CHECK CONSTRAINT [FKj1u8axkff1ilubd6b3awid3rn]
GO
ALTER TABLE [dbo].[warehouse_warehouseinventory]  WITH CHECK ADD  CONSTRAINT [FKl1bqyw9kqjh0eb04la0r3myjc] FOREIGN KEY([warehouseinventory_id])
REFERENCES [dbo].[warehouseinventory] ([id])
GO
ALTER TABLE [dbo].[warehouse_warehouseinventory] CHECK CONSTRAINT [FKl1bqyw9kqjh0eb04la0r3myjc]
GO
ALTER TABLE [dbo].[warehouseimport]  WITH CHECK ADD  CONSTRAINT [FKt95n4uhwgl1l2ow11ilta2m9b] FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[warehouse] ([id])
GO
ALTER TABLE [dbo].[warehouseimport] CHECK CONSTRAINT [FKt95n4uhwgl1l2ow11ilta2m9b]
GO
ALTER TABLE [dbo].[warehouseimportdetail]  WITH CHECK ADD  CONSTRAINT [FK7xqd4bndo0klfh8doi0fquejt] FOREIGN KEY([warehouseimport_id])
REFERENCES [dbo].[warehouseimport] ([id])
GO
ALTER TABLE [dbo].[warehouseimportdetail] CHECK CONSTRAINT [FK7xqd4bndo0klfh8doi0fquejt]
GO
ALTER TABLE [dbo].[warehouseimportdetail]  WITH CHECK ADD  CONSTRAINT [FK7ywv8s94qbcymyh682vwrcors] FOREIGN KEY([warehouse_warehouseinventory_id])
REFERENCES [dbo].[warehouse_warehouseinventory] ([id])
GO
ALTER TABLE [dbo].[warehouseimportdetail] CHECK CONSTRAINT [FK7ywv8s94qbcymyh682vwrcors]
GO
ALTER TABLE [dbo].[warehouseinventory]  WITH CHECK ADD  CONSTRAINT [FKf4pqn2ujoy17fah9mno22f5ey] FOREIGN KEY([category_id])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[warehouseinventory] CHECK CONSTRAINT [FKf4pqn2ujoy17fah9mno22f5ey]
GO
ALTER TABLE [dbo].[account]  WITH CHECK ADD CHECK  (([rank_status]='Brozen' OR [rank_status]='Silver' OR [rank_status]='Gold'))
GO
ALTER TABLE [dbo].[guaranted]  WITH CHECK ADD CHECK  (([guaranted_status]='EXPIRED' OR [guaranted_status]='WARRANTIED' OR [guaranted_status]='IN_WARRANTY' OR [guaranted_status]='NOT_WARRANTIED'))
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD CHECK  (([order_type]='IN_STORE_PURCHASE' OR [order_type]='ONLINE_PURCHASE'))
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD CHECK  (([payment_method]='E_WALLET' OR [payment_method]='CREDIT_CARD' OR [payment_method]='BANK_TRANFER' OR [payment_method]='CASH'))
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD CHECK  (([rank_applied]='Brozen' OR [rank_applied]='Silver' OR [rank_applied]='Gold'))
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD CHECK  (([status]>=(0) AND [status]<=(9)))
GO
ALTER TABLE [dbo].[promotion]  WITH CHECK ADD CHECK  (([status]='EXPIRED' OR [status]='ONGOING' OR [status]='UPCMOING'))
GO
USE [master]
GO
